//use Roboto font
html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

body {
    @media screen and (max-width: 1087px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.headerr {
    margin-top: 10px;
    margin-bottom: 10px;
}

textarea, select, input, button { outline: none !important; }

input:focus {
    outline:none !important;
}

body input,
body button,
body select,
body textarea {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

@mixin boxShadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.12);
}

img#site-logo {
  display: none !important;
}

.d-header {
  box-shadow: none !important;
  z-index: 1 !important;
}

.navigation-container {
    position: relative !important;
    width: 45% !important;
    z-index: 5 !important;
    float: left !important;

    @media screen and (max-width: 971px) {
        width: 56% !important;
    }

    @media screen and (max-width: 780px) {
        width: 100% !important;
    }

    @media screen and (min-width: 1088px) {
        width: 45% !important;
    }

    @media screen and (min-width: 1280px) {
        width: 37% !important;
    }

    @media screen and (min-width: 1472px) {
        width: 32% !important; 
    }
}

.search-advanced-options {
    .container {
        position: relative !important;
        width: 100% !important;
    }
}

.search-container .search-advanced .search-info {
    border-bottom: 1px solid #e9e9e9 !important;
}

.search-field {
    input {
        padding: 1em 1em .85em 2.75em !important;
    }
}

.user-menu .menu-panel {
    top: -98px !important;
}

.d-header-icons {
    .header-dropdown-toggle {
        a#search-button {
            display: none !important;
            z-index: -1 !important;
        }
    }

    .header-dropdown-toggle:nth-child(2) {
        margin-right: 8px !important;
    }
}

.fps-result {
    box-shadow: none !important;
}

.topic-title, .raw-topic-link {
    color: black !important;
    &:hover {
        color: #0aadff !important;
    }
}

.header-buttons {
    position: relative !important;
    top: -147px !important;
    right: 0px !important;
}

li.current-user {
    a {
        padding: 0 !important;
    }
}

.topic-list-item, .topic-list {
    box-shadow: none !important;
}

table.topic-list {
    thead {
        tr {
            th {
                font-weight: 500 !important;
            }
        }
    }
}

.link-top-line {
    a {
        color: black !important;
    }
}

.topic-statuses .topic-status i {
    color: black !important;
    &:hover {
        color: #0aadff !important;
    }
}

div#main-outlet {
    display: inline !important;
}

.search-container, .d-header .wrap, section.ember-view {
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 1088px) {
        max-width: 960px;
    }

    @media screen and (min-width: 1280px) {
        max-width: 1152px;
    }

    @media screen and (min-width: 1472px) {
        max-width: 1344px;
    }
}

.topic-list th, .topic-list td {
    color: black !important;
}

.d-icon-list {
    color: black !important;
}

.title {
    font-weight: 500 !important;
}

.list-controls .combo-box .combo-box-header {
    color: #000 !important;
    font-weight: 500 !important;
    text-transform: capitalize;
    background: none !important;
    border: none;
    border-radius: 5px !important;
}

.list-controls {
    margin-bottom: 0;

    .navigation-container {
        margin-top: 11px !important;
        margin-bottom: -15px !important;
    }

    .category-navigation {
        .select-kit {
            .select-kit-header {
                .caret-icon {
                    display: none !important;
                }
            }
        }
    }

    div.categories-admin-dropdown {
        float: none !important;
    }

    button#create-topic {
        text-indent: 4px !important;
        width: 127px !important;
        height: 31px;
        font-size: 1.1em;
        color: #fff !important;
        border-radius: 5px !important;
        position: relative !important;
        box-shadow: none !important;
        background-color: #00A5F7 !important;
        padding: 7px 20px 6px 5px;
        top: 0 !important;
        right: 0 !important;

        span.d-button-label {
            display: inline-block !important;
        }

        i {
            position: relative !important;
            top: .7px !important;
        }
    }
}

.nav-pills>li>a {
    color: #00A5F7;
    font-size: 1.1em !important;
    font-weight: 500 !important;
    &:hover {
        color: #CCCCCC !important;
    }
}

.nav-pills>li:nth-child(5) {
    display: none !important;
}

.nav-pills>li.active>a, .nav-pills>li>a.active {
    border-bottom: 2px solid #00A5F7 !important;
}

.nav-pills>li.active>a, .nav-pills>li.active {
    position: relative !important;
    top: -1px !important;
}

.posts-map {
    a {
        span.number {
            font-size: 1rem !important;
            min-width: 2em !important;
            padding: .25rem !important;
            background-color: #CCCCCC;
            border-radius: 3px !important;
            font-weight: 500 !important;
        }
    }
}

.num {
    span.number {
        font-size: 1rem !important;
        min-width: 2em !important;
        padding: .25rem !important;
        color: #fff;
        border-radius: 3px !important;
        background-color: #CCCCCC;
    }
}

.topic-list {
    thead {
        tr {
            th.num {
                position: relative;
                text-align: left;
            }
        }
    }
}

.select-kit.combo-box .select-kit-header.is-focused {
    box-shadow: none !important;
    border: none;
}

a {
    cursor: pointer !important;
}

.list-cell, .table-heading, .category-list td, .category-list th {
    color: #000;
}

.latest-topic-list .table-heading, .top-topic-list .table-heading {
    color: #000;
}

.latest-topic-list {
    .latest-topic-list-item {
        padding-right: 0;
        
        .main-link {
            a {
                color: #000 !important;
            }
        }
    }
}

.topic-last-activity {
    padding-right: 20px !important;
    top: 3px !important;
    position: relative !important;
}

.latest-topic-list .table-heading, .top-topic-list .table-heading {
    color: #000 !important;
    border: none;
    border-bottom: 1px solid #e9e9e9;
    padding-left: 15px;
    padding-right: 15px;
}

div.column.categories {
    tbody {
        border-top: 1px solid #e9e9e9 !important;
    }
    
    .list-cell, .table-heading, .category-list td, .category-list th {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
}

.category-list, .latest-topic-list {
    border: 1px solid #e9e9e9 !important;
}

.category-list, .topic-list, .latest-topic-list {
    box-shadow: none !important;
}

.alert-bootstrap-mode, .alert-too-few-topics {
    display: none;
}

.topic-list-main-link a.title, .topic-list .main-link a.title, .latest-topic-list-item .main-link a.title {
    word-break: normal !important;
}

.admin-main-nav {
    z-index: 10 !important;
}

// users page
.directory {
    div.clearfix {
        position: relative !important;
        z-index: 5 !important;
        width: 60% !important;
        @media screen and (max-width: 670px) {
            width: 100% !important;
        }
    }

    input.filter-name {
        float: left !important;
        margin-left: 40px !important;
        border-radius: 5px !important;
        border: 1px solid #ababab !important;
    }
}

// badges page
section.ember-view {
    div.badges {
        h1 {
            position: relative !important;
            z-index: 5 !important;
            width: 60% !important;
            @media screen and (max-width: 670px) {
                width: 100% !important;
            }
        }
    }
}

// groups page
div.groups-header {
    position: relative !important;
    z-index: 5 !important;
    width: 60% !important;
    flex-direction: column-reverse !important;
    display: flex !important;
    margin-bottom: 25px !important;
    margin-top: 10px !important;
    @media screen and (max-width: 670px) {
        width: 100% !important;
    }

    button.groups-header-new {
        width: 126px !important;
        margin-top: 10px !important;
        background-color: #33cccc !important;
        color: #fff !important;
        padding: 7px 12px 6px 12px !important;
        font-size: 1.1em !important;
        border-radius: 5px !important;

        i.fa-plus {
            position: relative !important;
            top: 1px !important;
            margin-right: 4px !important;
        }
    }

    .groups-header-filters {
        input {
            border-radius: 5px !important;
            margin-right: 5px !important;
            outline: none !important;

            @media screen and (max-width: 424px) {
                margin-bottom: 10px !important;
            }
        }
        .select-kit.combo-box .select-kit-header {
            font-weight: 400 !important;
            border-radius: 5px !important;
            border: 1px solid #919191 !important;
        }
    }
}

.select-kit.is-expanded .select-kit-body {
    border-radius: 5px !important;
}
