//use Roboto font
html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

body {
    @media screen and (max-width: 1087px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.headerr {
    margin-top: 10px;
    margin-bottom: 10px;
}

body input,
body button,
body select,
body textarea {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

@mixin boxShadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.12);
}

img#site-logo {
  display: none !important;
}

.d-header {
  box-shadow: none !important;
  z-index: 1;
}

.navigation-container {
    position: relative;
    width: 60%;
    z-index: 5;
    
    @media screen and (max-width: 670px) {
        width: 100%;
    }
}

.search-advanced-options {
    .container {
        position: relative !important;
        width: 100% !important;
    }
}

.search-container .search-advanced .search-info {
  border-bottom: 1px solid #e9e9e9 !important;
}

.user-menu .menu-panel {
    top: -98px !important;
}

.d-header-icons {
    .header-dropdown-toggle {
        a#search-button {
            display: none !important;
            z-index: -1 !important;
        }
    }
}

.fps-result {
    box-shadow: none !important;
}

.topic-title, .raw-topic-link {
    color: black !important;
    &:hover {
        color: #0aadff !important;
    }
}

.header-buttons {
    position: relative !important;
    top: -147px !important;
    right: 0px !important;
}

li.current-user {
    a {
        padding: 0 !important;
    }
}

.topic-list-item, .topic-list {
    box-shadow: none !important;
}

table.topic-list {
    thead {
        tr {
            th {
                font-weight: 500 !important;
            }
        }
    }
}

.link-top-line {
    a {
        color: black !important;
    }
}

.topic-statuses .topic-status i {
    color: black !important;
    &:hover {
        color: #0aadff !important;
    }
}

div#main-outlet {
    display: inline !important;
}

.search-container, .d-header .wrap {
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 1088px) {
        max-width: 960px;
    }

    @media screen and (min-width: 1280px) {
        max-width: 1152px;
    }

    @media screen and (min-width: 1472px) {
        max-width: 1344px;
    }
}

.topic-list th, .topic-list td {
    color: black !important;
}

.d-icon-list {
    color: black !important;
}

.title {
    font-weight: 500 !important;
}

.list-controls .combo-box .combo-box-header {
    border: none;
    color: #08c !important;
    text-transform: capitalize;
    background: none !important;
}

.list-controls {
    margin-bottom: 0;
}

.nav-pills>li>a {
    color: #08c;
    font-size: 1.1em !important;
    &:hover {
        color: #CCCCCC !important;
    }
}

.nav-pills>li.active>a, .nav-pills>li>a.active {
    border-bottom: 2px solid #08c !important;
}

.posts-map {
    a {
        span.number {
            font-size: 1rem !important;
            min-width: 2em !important;
            padding: .25rem !important;
            background-color: #CCCCCC;
            border-radius: 3px !important;
            font-weight: 500 !important;
        }
    }
}

.num {
    span.number {
        font-size: 1rem !important;
        min-width: 2em !important;
        padding: .25rem !important;
        color: #fff;
        border-radius: 3px !important;
        background-color: #CCCCCC;
    }
}

.topic-list {
    thead {
        tr {
            th.num {
                position: relative;
                text-align: left;
            }
        }
    }
}

.select-kit.combo-box .select-kit-header.is-focused {
    box-shadow: none !important;
    border: none !important;
}

a {
    cursor: pointer !important;
}

.list-cell, .table-heading, .category-list td, .category-list th {
    color: #000;
}

.latest-topic-list .table-heading, .top-topic-list .table-heading {
    color: #000;
}

.latest-topic-list {
    .latest-topic-list-item {
        padding-right: 0;
        
        .main-link {
            a {
                color: #000 !important;
            }
        }
    }
}

.topic-last-activity {
    padding-right: 20px;
    top: 3px;
    position: relative;
}

.latest-topic-list .table-heading, .top-topic-list .table-heading {
    color: #000;
    border: none;
    border-bottom: 1px solid #e9e9e9;
    padding-left: 15px;
    padding-right: 15px;
}

div.column.categories {
    tbody {
        border-top: 1px solid #e9e9e9;
    }
    
    .list-cell, .table-heading, .category-list td, .category-list th {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.category-list, .latest-topic-list {
    border: 1px solid #e9e9e9;
}

.category-list, .topic-list, .latest-topic-list {
    box-shadow: none !important;
}

.alert-bootstrap-mode, .alert-too-few-topics {
    display: none;
}

.topic-list-main-link a.title, .topic-list .main-link a.title, .latest-topic-list-item .main-link a.title {
    word-break: normal;
}

.admin-main-nav {
    z-index: 10;
}
