//use Roboto font
html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

body {
    @media screen and (max-width: 1087px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.headerr {
    margin-top: 10px;
    margin-bottom: 10px;
    @media screen and (max-width: 768px) {
        margin-bottom: -20px;
    }
}

button {
    border-radius: 3px !important;
}

@media screen and (max-width: 767px) {
    body.groups-page {
        table {
            max-width: 100% !important;
            width: 100% !important;
            overflow-x: scroll !important;
            position: relative !important;
            display: block !important;
        }
    }
}

textarea, select, input, button { 
    outline: none !important; 
}

input, .input-xxlarge {
    max-width: 100% !important;
    border-radius: 3px !important;
    border: 1px solid #d1d1d1 !important;
}

.highlighted {
    background: transparent !important;
    animation: none !important;
}

div.ac-wrap {
    border: 1px solid #d1d1d1 !important;
    input {
        border: none !important;
    }
}

.multi-select-header, .select-kit.single-select {
    border-radius: 3px !important;
    border: 1px solid #d1d1d1 !important;
    width: 100% !important;
    margin-right: 5px !important;
}

.select-kit.single-select {
    .select-kit-header {
        border: none !important;
    }
}

.multi-select-filter {
    input {
        border: none !important;
    }
}

.group-flair-inputs {
    border-radius: 3px !important;
}

.ac-wrap.clearfix {
    border-radius: 3px !important;
}

@media screen and (max-width: 500px) {
    .group-flair-inputs {
        width: 100% !important;
    }
    
    .input-xxlarge {
        width: 100% !important;
    }
}

body input,
body button,
body select,
body textarea {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

@mixin boxShadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.12);
}

img#site-logo {
  display: none !important;
}

/*
******************************************
** Nav buttons for Main-Menu and User-Menu 
******************************************
*/
.d-header {
  box-shadow: none !important;
  z-index: 1 !important;
  background: transparent !important;
  @media screen and (max-width: 768px) {
      z-index: 3 !important;
  }
  
    ul.d-header-icons {
        top: -154px !important;

        @media screen and (max-width: 768px) {
            top: -125px !important;
        }
    }
    
    body.groups-page {
        .panel.clearfix {
        ul.d-header-icons {
            @media screen and (max-width: 768px) {
                top: 0 !important;
            }
        }
        }
    }
    
    .user-menu .menu-panel {
        top: -98px !important;
        
        @media screen and (max-width: 1086px) {
            top: 85px !important;
            right: 10px !important;
        }
        
        @media screen and (max-width: 768px) {
            top: 75px !important;
            right: 0px !important;
            min-height: 130px !important;
            padding-bottom: 5px !important;
        }
    }

    .hamburger-panel {
        .menu-panel {
            @media screen and (max-width: 1086px) {
                top: 85px !important;
                right: 10px !important;
            }
            
            @media screen and (max-width: 768px) {
                top: 75px !important;
                right: 0px !important;
                min-height: 130px !important;
                padding-bottom: 5px !important;
            }
        }
    }

    // Hides search icon
    .d-header-icons {
        .header-dropdown-toggle {
            a#search-button {
                display: none !important;
                z-index: -1 !important;
            }

            a.badge-notification {
                position: absolute !important;
                z-index: 1 !important;
                top: -4px !important;
                right: 23px !important;
                min-width: 14px !important;
                min-height: 14px !important;
                border-radius: 50% !important;
                line-height: 1.2 !important;
            }
        }

        .header-dropdown-toggle:nth-child(2) {
            margin-right: 8px !important;
            top: 0 !important;
        }
    }
}

  // Adjusted styling on groups page only
  body.groups-page {
      .user-menu {
          .menu-panel {
              @media screen and (max-width: 768px) {
                  top: 20px !important;
                  right: 0 !important;
              }
          }    
      }
      
      .hamburger-panel {
          .menu-panel {
              @media screen and (max-width: 1086px) {
                  top: 85px !important;
                  right: 10px !important;
              }
          
              @media screen and (max-width: 768px) {
                  top: 270px !important;
                  right: 15px !important;
                  min-height: 130px !important;
                  padding-bottom: 5px !important;
              }
          }
      }
  }
/*
*************************************************
** End of nav buttons for Main-Menu and User-Menu 
*************************************************
*/


/*
***********************************************
** Filter/sorting navbar (and New Topic button)
***********************************************
*/
.list-controls .combo-box .combo-box-header {
    color: #000 !important;
    font-weight: 500 !important;
    text-transform: capitalize;
    background: none !important;
    border: none;
    border-radius: 5px !important;
    position: relative !important;
    bottom: 0 !important;
}

.list-controls {
    margin-bottom: 0;
    margin-top: -10px;

    .nav {
        margin-left: -5px !important;
    }

    .navigation-container {
        position: relative !important;
        width: 33% !important;
        z-index: 5 !important;
        float: left !important;
        padding-top: 11px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        border-radius: 3px !important;
        margin-top: 0 !important;
        margin-bottom: 7px !important;

        @media screen and (max-width: 500px) {
            margin-bottom: 10px !important;
        }

        @media screen and (max-width: 768px) {
            margin-bottom: -5px !important;
            background: transparent !important;
            width: 100% !important;
        }

        @media screen and (min-width: 769px) and (max-width: 971px) {
            display: flex !important;
            width: 43% !important;
        }

        @media screen and (min-width: 1088px) {
            width: 33% !important;
        }

        @media screen and (min-width: 1280px) {
            width: 27% !important;
        }

        @media screen and (min-width: 1472px) {
            width: 23% !important; 
        }

        ol.category-breadcrumb {
            li.category-drop {
                background: #f2f3f6 !important;
                border: 1px solid rgb(204, 204, 204) !important;

                span.category-name {
                    font-weight: 400 !important;
                    font-size: .95 !important;
                }

                svg {
                    margin-left: 2px !important;
                    margin-right: 2px !important;
                }
            }
        }

        .nav-pills>li {
            margin-right: 0;
        }

        .nav-pills>li>a {
            color: #000 !important;
            font-size: 1.1em !important;
            font-weight: 400 !important;
            background-color: transparent !important;
            &:hover {
                color: #00A5F7 !important;
            }
        }

        .nav-pills>li:nth-child(2) {
            display: none !important;
        }

        .nav-pills>li.active>a, .nav-pills>li>a.active {
            font-weight: 500 !important;
            border-bottom: none !important;
            background: transparent !important;
            color: #00A5F7 !important;
        }

        .nav-pills>li.active>a, .nav-pills>li.active {
            position: relative !important;
            top: 0 !important;
        }
    }

    .category-navigation {
        .select-kit {
            .select-kit-header {
                .caret-icon {
                    display: none !important;
                }
            }
        }

        div.category-notifications-button {
          position: relative !important;
          border: none !important;

          button.select-kit-header {
            position: absolute !important;
            width: 127px !important;
            margin-left: 5px !important;
          }
        }

        button.edit-category {
            width: 127px !important;
            position: relative !important;
            left: -10px !important;
        }
    }

    div.categories-admin-dropdown {
        float: none !important;
    }

    button#create-topic {
        text-indent: 4px !important;
        width: 127px !important;
        height: 31px;
        font-size: 1.1em;
        color: #fff !important;
        border-radius: 3px !important;
        position: absolute !important;
        box-shadow: none !important;
        background-color: #33cccc;
        padding: 8px 20px 6px 5px;
        top: 11px !important;
        right: 20px;

        @media screen and (max-width: 768px) {
            float: right;
            right: 91px;
            text-indent: 5px !important;
            top: -143px !important;
            width: 65px !important;
            padding: 7px 20px 6px 0 !important;
        }

        span.d-button-label {
            display: inline-block !important;
            font-weight: 500 !important;
            @media screen and (max-width: 768px) {
                width: 35px !important;
                overflow: hidden !important;
                position: relative !important;
                bottom: -2px !important;
            }
        }

        i {
            position: relative !important;
            top: .7px !important;
            color: #fff !important;
            font-weight: 400 !important;
            margin-right: 3px !important;
            opacity: 1 !important;
            left: 2px !important;
            
            @media screen and (max-width: 768px) {
                margin-right: 0 !important;
                margin-left: -5px;
                top: -3px !important;
            }
        }

        svg.d-icon-plus {
            opacity: 1 !important;
            left: 2px !important;
            @media screen and (max-width: 768px) {
                margin-right: -2px !important;
                margin-left: 1px !important;
            }
        }
    }
}
/*
******************************************************
** End of filter/sorting navbar (and New Topic button)
******************************************************
*/

.search-advanced-options {
    .container {
        position: relative !important;
        width: 100% !important;
    }
}

.search-container .search-advanced .search-info {
    border-bottom: 1px solid #e9e9e9 !important;
}

.search-field {
    input {
        padding: 1em 1em .85em 2.75em !important;
    }
}

.fps-result {
    box-shadow: none !important;
}

.topic-title, .raw-topic-link {
    position: relative !important;
    z-index: 2 !important;
    color: black !important;
    &:hover {
        color: #0aadff !important;
    }
}

#topic-title {
    position: relative !important;
    z-index: 2 !important;
    margin-top: 20px !important;
}

.topic-post {
    position: relative !important;
    
    .topic-avatar {
        left: 15px !important;
        position: absolute !important;
        top: 1px !important;
    }
    
    .topic-body {
        z-index: 0 !important;
        border: 1px solid #ebebeb !important;
        border-radius: 3px important;
        box-shadow: none !important;
        
        .trigger-user-card {
            margin-left: 40px !important;
        }
    }
}

.header-buttons {
    position: relative !important;
    top: -155px !important;
    right: 0px !important;

    button.btn {
        min-height: 20px !important;
        padding: 6px 7px !important;
    }

    button.sign-up-button {
        background: rgba(32,156,238,0.95) !important;
    }
}

li.current-user {
    a {
        padding: 0 !important;
    }
}

.topic-list-item, .topic-list {
    box-shadow: none !important;
}

table.topic-list {
    thead {
        tr {
            th {
                font-weight: 500 !important;
            }
        }
    }
}

.link-top-line {
    a {
        color: black !important;
    }
}

.topic-statuses .topic-status i {
    color: black !important;
    &:hover {
        color: #0aadff !important;
    }
}

div#main-outlet {
    display: inline !important;
}

.search-container, .d-header .wrap, section.ember-view {
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 1088px) {
        max-width: 960px;
    }

    @media screen and (min-width: 1280px) {
        max-width: 1152px;
    }

    @media screen and (min-width: 1472px) {
        max-width: 1344px;
    }
}

.topic-list th, .topic-list td {
    color: black !important;
}

.d-icon-list {
    color: black !important;
}

.title {
    font-weight: 500 !important;
}

ul#navigation-bar {
    display: none !important;
}

@media screen and (max-width: 768px) {
    ul#navigation-bar {
        display: none !important;
    }
    
    ol.category-breadcrumb {
        display: none !important;
    }
}

.posts-map {
    a {
        span.number {
            font-size: 1rem !important;
            min-width: 2em !important;
            padding: .25rem !important;
            background-color: #CCCCCC;
            border-radius: 3px !important;
            font-weight: 500 !important;
        }
    }
}

.num {
    span.number {
        font-size: 1rem !important;
        min-width: 2em !important;
        padding: .25rem !important;
        color: #fff;
        border-radius: 3px !important;
        background-color: #CCCCCC;
    }
}

.topic-list {
    thead {
        tr {
            th.num {
                position: relative;
                text-align: left;
            }
        }
    }
}

.select-kit.combo-box .select-kit-header.is-focused {
    box-shadow: none !important;
    border: none;
}

a {
    cursor: pointer !important;
}

.list-cell, .table-heading, .category-list td, .category-list th {
    color: #000;
}

.latest-topic-list .table-heading, .top-topic-list .table-heading {
    color: #000;
}

.latest-topic-list {
    .latest-topic-list-item {
        padding-right: 0;
        
        .main-link {
            a {
                color: #000 !important;
            }
        }
    }
}

.topic-last-activity {
    padding-right: 20px !important;
    top: 3px !important;
    position: relative !important;
}

.latest-topic-list .table-heading, .top-topic-list .table-heading {
    color: #000 !important;
    border: none !important;
    border-bottom: 1px solid #e9e9e9;
    padding-left: 15px;
    padding-right: 15px;
}

div.column.categories {
    tbody {
        border-top: 1px solid #e9e9e9 !important;
    }
    
    .list-cell, .table-heading, .category-list td, .category-list th {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
}

.category-list, .latest-topic-list {
    border: 1px solid #e9e9e9 !important;
}

.category-list, .topic-list, .latest-topic-list {
    box-shadow: none !important;
}

.alert-bootstrap-mode, .alert-too-few-topics {
    display: none;
}

.topic-list-main-link a.title, .topic-list .main-link a.title, .latest-topic-list-item .main-link a.title {
    word-break: normal !important;
}

.admin-main-nav {
    z-index: 10 !important;
}

// users page
.directory {
    div.clearfix {
        position: relative !important;
        z-index: 5 !important;
        width: 60% !important;
        @media screen and (max-width: 670px) {
            width: 100% !important;
        }
    }

    input.filter-name {
        float: left !important;
        margin-left: 40px !important;
        border-radius: 3px !important;
        border: 1px solid #ababab !important;
    }

    div.period-chooser {
      width: 200px !important;
      height: 30px !important;
      border: 1px solid #ababab !important;
      
      button.period-chooser-header {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        padding-left: 22px !important;
      }
    }
}

// badges page
section.ember-view {
    div.badges {
        h1 {
            position: relative !important;
            z-index: 5 !important;
            width: 60% !important;
            @media screen and (max-width: 670px) {
                width: 100% !important;
            }
        }
    }
}

// groups page
div.groups-header {
    position: relative !important;
    z-index: 5 !important;
    width: 56% !important;
    margin-bottom: 25px !important;
    margin-top: 10px !important;
    @media screen and (max-width: 670px) {
        width: 100% !important;
    }
    
    @media screen and (max-width: 550px) {
        display: inline-block;
    }

    button.groups-header-new {
        width: 126px !important;
        background-color: #00A5F7 !important;
        color: #fff !important;
        padding: 7px 12px 6px 12px !important;
        font-size: 1.1em !important;
        border-radius: 3px !important;

        @media screen and (max-width: 768px) {
            margin-bottom: 5px !important;
            float: left !important;
            display: flex !important;
            margin-right: 5px !important;
        }

        i.fa-plus {
            position: relative !important;
            top: 1px !important;
            margin-right: 4px !important;
        }
    }

    .groups-header-filters {
        display: flex !important;
        @media screen and (max-width: 550px) {
            width: 80% !important;
            display: inline-block !important;
        }
        
        input.groups-header-filters-name {
            border-radius: 3px !important;
            margin-right: 5px !important;
            outline: none !important;
            min-width: 85px !important;
            
            @media screen and (max-width: 768px) {
                margin-bottom: 5px !important;
                width: 100% !important;
            }
        }

        .select-kit.combo-box .select-kit-header {
            font-weight: 400 !important;
            border-radius: 3px !important;
            @media screen and (max-width: 768px) {
                display: block !important;
                width: 100% !important;
                
                i.fa {
                    display: none !important;
                }
            }
        }
    }
}

.select-kit.is-expanded .select-kit-body {
    border-radius: 3px !important;
}

.search-field {
  background-color: #F2F3F6 !important;
  border-style: none !important;
  border-radius: 6px !important;
  position: relative !important;
  margin-top: .5em !important;
  margin-bottom: 9px !important;
  margin-top: 10px !important;
  
  .fa-search {
    position: absolute !important;
    bottom: 18px !important;
    left: 20px !important;
    font-size: 15px !important;
    z-index: 500 !important;
    color: #868686 !important;
  }
  
  input {
    background-color: transparent !important;
    border-style: none !important;
    font-size: 16px !important;
    color: #868686 !important;
    padding: 1em 1em 1em 2.75em !important;
    width: 100% !important;
    border-radius: 6px !important;
    position: relative !important;
    transition: all 0.1s ease-in-out !important;
    margin-bottom: 0 !important;
    
    &:focus {
      outline: 0 !important;
      background: #FFFFFF !important;
      box-shadow: 0 1px 0 #f1f1f1, 0 2px 5px 2px rgba(0,0,0,0.1) !important;
      z-index: 200 !important;
      
    }
  }
  
}

a.home-link {
    display: inline-block !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    position: relative !important;
    bottom: -9.1px !important;
    color: #2d2d2d !important;
    border-left: 1px solid #B5B5B5 !important;
    padding-left: 9px !important;
    margin-left: 9px !important;
    @media screen and (max-width: 768px) {
        display: none !important;
    }
}

button.login-button {
    border-radius: 3px;
        
    @media screen and (max-width: 768px) {
        position: relative;
        float: right;
        right: 5px;
        top: 20px;
    }
}

button.login-button, button.create, button.search-cta {
    background: #33cccc !important;
    
    &:hover {
        background: #2abfbf !important;
    }
}

.post-controls {
    button.create {
        background: #e9e9e9 !important;
        color: #222 !important;
    }
}

div.groups-header {
    @media screen and (max-width: 768px) {
        top: -40px !important;
    }
    
    @media screen and (max-width: 979px) {
        width: 60% !important;
    }
    
    @media screen and (min-width: 980px) {
        width: 56% !important;
    }

    @media screen and (min-width: 1088px) {
        width: 56% !important;
    }

    @media screen and (min-width: 1280px) {
        width: 47% !important;
    }

    @media screen and (min-width: 1472px) {
        width: 41% !important; 
    }
}

@media screen and (max-width: 500px) {
    .topic-list {
        tbody {
            .topic-list-item {
                min-height: 60px !important;
            }
        }
        
        .num.activity a {
            display: none !important;
        }
    }
}

body.navigation-topics {
    .multi-select-header, .select-kit.single-select {
        border: none !important;
    }
}

.sort-by {
    span.desc {
        width: 100% !important;
    }
}

@media screen and (max-width: 500px) {
    .topic-list .category {
        //display: none !important;
    }
    
    th.sortable.category {
        opacity: 0 !important;
    }
    
    .topic-list th:last-of-type, .topic-list td:last-of-type {
        display: none !important;
    }
    
    .topic-post {
        .topic-avatar {
            display: none !important;
        }
    }
    
    #topic-footer-buttons .btn {
        margin-right: 0 !important;
    }
}

@media screen and (max-width: 768px) {
    .topic-body {
        width: 100% !important;
        
        img {
            width: 100% !important;
        }
    }
}

.topic-notifications-button {
    .select-kit-body {
        left: 0 !important;
        @media screen and (max-width: 500px) {
            left: -10px !important;
            min-width: 100% !important;
            width: 350px !important;
        }
    }
}

.spinner {
  margin: 20px auto 20px auto;
  position: relative;
  -webkit-animation: rotate-forever 1s infinite linear;
  animation: rotate-forever 1s infinite linear;
  height: 30px;
  width: 30px;
  border: 4px solid #d1d1d1;
  border-right-color: transparent;
  border-radius: 50%;
  top: 75px !important;
}

button.toggle-sidebar {
    display: none;
    position: absolute;
    right: 25px;
    z-index: 3;
    top: 215px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    
    @media screen and (max-width: 768px) {
        top: 237px;    
    }
}

.search-container {
    .search-advanced {
        width: 100% !important;
    }

    @media screen and (max-width: 768px) {
        .search-advanced-sidebar {
            display: none;
            position: absolute;
            z-index: 3;
            right: 5px;
            width: 80%;
            top: 115px;
            box-shadow: 0 5px 15px rgba(0,0,0,0.3);
            
            .search-advanced-title {
                display: none !important;
            }
            
            .search-advanced-filters {
                padding: 10px;
            }
        }
    }
    
    button#create-topic {
        display: none !important;
    }
}

body.staff {
    section.controls {
        position: relative !important;
        top: 40px !important;
    }
}

.fancy-title {
    img.emoji {
        display: none !important;
    }
}

.notifications {
    ul {
        li {
            img.emoji {
                display: none !important;
            }
        }
    }
}

.topic-timeline {
    .widget-button.create {
        display: none !important;
    }
}

#reply-control.open {
    z-index: 3005 !important;
    max-width: 100% !important;
    .reply-area {
        max-width: 1475px !important;

        button.create {
            background: rgba(32,156,238,0.95) !important;
        }

        .d-editor-preview-wrapper {
            background: #F8F8F8 !important;
            padding: 10px !important;
            border-radius: 3px !important;
            @media screen and (max-width: 768px) {
                display: none !important;
            }
        }
    }
    .grippie {
        background: rgba(32,156,238,0.95);
    }
}

body.docked {
    .d-header {
        display: none !important;
    }
}

body.navigation-categories {
    .categories-admin-dropdown {
        width: 50px !important;
        height: 31px !important;
        position: relative !important;
        top: -5px !important;
        
        button {
            margin: 0 !important;
            background: #fff !important;
            border-radius: 2px !important;
            &:hover {
                background: #e9e9e9 !important;
            }
            
            i.fa-bars::before {
                content: "New" !important;
                font-size: 1em !important;
                position: relative !important;
                top: -2px !important;
                font-weight: 500 !important;
                font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
                color: #000 !important;
                left: -5px !important;
            }
            
            i.fa-caret-down {
                display: none !important;
            }
        }
    }
}

.notification.is-info {
    display: none;
}

/*
*****************************************
** Privacy disclaimer (blue notification)
*****************************************
*/
body.navigation-topics {
  .notification.is-info {
      display: block;
      text-align: center !important;
      position: fixed !important;
      bottom: -100%;
      border-radius: 0 !important;
      z-index: 3000 !important;
      background: rgba(32,156,238,.95) !important;
      font-size: 1.2em !important;
      width: 100% !important;
      left: 0 !important;
      overflow: hidden;
      box-sizing: border-box;
      transition: bottom 1000ms ease !important;

      .disclaimer-text {
          max-width: 1475px !important;
          display: inline-block !important;
      }

      a {
          text-decoration: none !important;
          font-weight: 600 !important;
      }

      button {
          right: .75rem !important;
          top: .60rem !important;
      }

      @media screen and (max-width: 400px) {
          padding-left: 20px !important;
          padding-right: 25px !important;
          text-align: left !important;
      }

      @media screen and (min-width: 769px) {
        padding-right: 10% !important;
        padding-left: 10% !important;
      }
  }
  
    .appear {
        transition-delay: .2s !important;
        bottom: 0 !important;
    }
}

// Don't show disclaimer when not logged-in.
html.anon {
    body.navigation-topics {
        .notification.is-info {
            display: none !important;
        }
    }
}

/*
*****************************************
** End of privacy disclaimer (blue notification)
*****************************************
*/

